[submodule "eclipse/framework"]
	path = eclipse/framework
	url = https://github.com/MyChannel-Apps/KFramework.git
[submodule "eclipse/KFramework"]
	path = eclipse/KFramework
	url = https://github.com/MyChannel-Apps/KFramework.git
