<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<!-- Autocomplete -->
	<extension-point id="javaScriptCompleter" name="javaScriptCompleter" schema="schema/javaScriptCompleter.exsd" />
   
	<!-- Wizards -->
	<extension point="org.eclipse.ui.newWizards">
		<category name="Knuddels" id="de.mca.extensions.eclipse"></category>
		<wizard category="de.mca.extensions.eclipse" class="de.mca.extensions.eclipse.wizards.KnuddelsWizard" icon="icons/knuddels.png" id="de.mca.extensions.eclipse.wizards.Knuddels" name="App" project="true"></wizard>
		<wizard category="de.mca.extensions.eclipse" class="de.mca.extensions.eclipse.wizards.KFrameworkWizard"  icon="icons/kframework.png" id="de.mca.extensions.eclipse.wizards.KFramework" name="App (KFramework)" project="true"></wizard>
	</extension>

	<!-- Extensions -->
	<extension point="org.eclipse.team.core.fileTypes">
		<fileTypes extension="js" type="text" />
		<fileTypes extension="config" type="text" />
	</extension>

	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type base-type="org.eclipse.core.runtime.text" file-extensions="js" id="de.mca.extensions.eclipse.types.JavaScript" default-charset="UTF-8" name="JavaScript File" priority="high">
			<describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
				<parameter name="element" value="apples"></parameter>
			</describer>
		</content-type>
		<content-type base-type="org.eclipse.core.runtime.text" file-extensions="config" id="de.mca.extensions.eclipse.types.Configuration" default-charset="UTF-8" name="Configuration File" priority="high">
			<describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
				<parameter name="element" value="apples"></parameter>
			</describer>
		</content-type>
	</extension>
	
	<!-- Editor -->
	<extension point="org.eclipse.ui.editors">
		<editor name="Knuddels: Configuration Editor" icon="icons/configuration.png" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" class="de.mca.extensions.eclipse.editors.config.Configuration" id="de.mca.extensions.eclipse.editors.config.Configuration">
			<contentTypeBinding contentTypeId="de.mca.extensions.eclipse.types.Configuration"></contentTypeBinding>
		</editor>
		<editor name="Knuddels: JavaScript Editor" extensions="js" icon="icons/javascript.png" class="de.mca.extensions.eclipse.editors.js.JavaScript" id="de.mca.extensions.eclipse.editors.js.JavaScript">
		
		</editor>
	</extension>
</plugin>
